body {
	background-color:lightgray;
	margin: 0;
	padding: 0;
}

#title {
  	background-color: coral;
	text-align: center;
	padding: 1px;
	margin: auto;
	font-family: fantasy;
	border-radius: 5px;
	width: 100%;
}

#cuadrado, #triangle {
	font-family: Arial, Helvetica, sans-serif;
	background-color: cadetblue;	
	border-radius: 20px;
	padding-bottom: 20px;	
	display: flex;
  	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 60%;
  	height: 100%;
	margin: auto;
	padding: 20px 10px 10px 10px;
}

#titleCalcular, #titleCuadrado {
	text-align: center;
}

.btnCuadrado, .btnCalculos {
	text-align: center;
}

#btnPeri, #btnArea, #btnCuaPeri, #btnCuaArea {
	background-color: lightseagreen;
	color: black;
	border-radius: 20px;
	width: auto;
	padding: 5px;
}

#btnPeri:hover, #btnArea:hover, #btnCuaPeri:hover, #btnCuaArea:hover {
	background-color: blue;
	color: aliceblue;
	border-radius: 20px;
	box-shadow: 0px 2px 15px 3px black;
}